 @import 'https://fonts.googleapis.com/css?family=Open+Sans';
  @import 'https://fonts.googleapis.com/css?family=Prompt';

 body, html{
    font-family: 'Prompt', sans-serif;
    width: 100%;
    height: 100%;
 }

.dashTitle {
	border-bottom:2px solid #262527;
	padding:10px;
	
	}
 input:focus{
 	border: none;
 	outline: none;
 }

 .loginOuter{
 	width: 100%;
 	height: 100%;
 	background: #f8f676;
 }

 .loginContainer{
 	width: 400px;
 	background: #262527;
 	padding: 40px;
 	position: relative;
 	top: 50%;
 	left: 50%;
 	box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
 	transform:translate(-50%,-50%);
 	-webkit-transform:translate(-50%,-50%);
 	-moz-transform:translate(-50%,-50%);
 }

 .loginContainer img{
 	margin: 0 auto 40px auto;
 	display: block;
 }

 .loginContainer .inputWrapper{
 	width: 100%;
 	position: relative;
 }

 .loginContainer .inputWrapper.user:after{
 	position: absolute;
 	top: 1px;
 	right: 1px;
 	content: "\f007";
 	font-family: FontAwesome;
 	background: #eee;
 	width: 45px;
 	color: #222;
 	text-align: center;
 	line-height: 40px;
 }

 .loginContainer .inputWrapper.pass:after{
 	content: "\f023";
 	position: absolute;
 	top: 1px;
 	right: 1px;
 	font-family: FontAwesome;
 	background: #eee;
 	width: 45px;
 	color: #222;
 	text-align: center;
 	line-height: 40px;
 }

 .loginContainer input[type="text"]{
 	width: 100%;
 	font-size: 13px;
 	border: 1px solid #ccc;
 	padding: 0px 10px;
 	margin-bottom: 20px;
 	line-height: 40px;
 	transition:all 0.25s ease-out;
 	-ms-transition:all 0.25s ease-out;
 	-webkit-transition:all 0.25s ease-out;
 	-moz-transition:all 0.25s ease-out;
 }

 .loginContainer input[type="password"]{
 	width: 100%;
 	font-size: 13px;
 	border: 1px solid #ccc;
 	padding: 0px 10px;
 	margin-bottom: 20px;
 	line-height: 40px;
 	transition:all 0.25s ease-out;
 	-ms-transition:all 0.25s ease-out;
 	-webkit-transition:all 0.25s ease-out;
 	-moz-transition:all 0.25s ease-out;
 }

 .loginContainer input[type="password"]:focus, .loginContainer input[type="text"]:focus{
 	background:#FFF5B7;
 }

 .loginContainer .inputWrapper:focus  .loginContainer .inputWrapper:after{
 	background: #f8f676;
 }

 .loginContainer span{
 	display: block;
 	margin-bottom: 20px;
 }

 .loginContainer span input[type="checkbox"]{
 	vertical-align: sub;
 	margin-left: 10px;
 }

 .loginContainer input[type="submit"]{
 	display: inline-block;
 	padding: 10px 20px;
 	color: #333;
 	border: none;
 	background: #f1ef28;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	font-size: 13px;
 	transition:all 0.25s ease-out;
 	-ms-transition:all 0.25s ease-out;
 	-webkit-transition:all 0.25s ease-out;
 	-moz-transition:all 0.25s ease-out;
 }

 .loginContainer input[type="submit"]:hover{
 	background: #fff;
 	padding: 10px 24px;
 }

 header.header{
 	width: 100%;
 	padding: 20px 0;
 	border-bottom: 1px solid #eee;
	background-color:#1e1e1e;
 }

 .pageHeader{
 	background: #f8f676;
 	padding: 10px 0;
 }

 .pageHeader h2{
 	position: relative;
 	margin: 0;
	color:#000;
	font-size:24px;
 }

 
 section.content{
 	padding: 40px 0;
 }

 section.content .form h3{
 	font-size: 17px;
 	color: #505050;
 	margin: 0 0 0px 0;
 }

 .select-wrapper{
 	width: 100%;
 	position: relative;
 	margin-bottom: 20px;
 }

 .select-wrapper:after{
 	position: absolute;
 	top: 50%;
 	transform:translateY(-50%);
 	-webkit-transform:translateY(-50%);
 	-moz-transform:translateY(-50%);
 	right: 10px;
 	content: "\f107";
 	font-family: FontAwesome;
 	color: #000;
 }

 .select-wrapper select{
 	width: 100%;
 	border-radius: 5px;
 	border: 1px solid #d3d3d3;
 	padding: 10px;
 	appearance:none;
 	-moz-appearance:none;
 	-webkit-appearance:none;
 }

 section.content textarea, section.content input[type="text"]{
 	width: 100%;
 	padding: 10px;
 	border-radius: 5px;
 	border: 1px solid #d3d3d3;
 }

 section.content textarea{
 	margin-bottom: 20px;
 }

 section.content button[type="submit"]{
 	display: inline-block;
 	padding: 10px 20px;
 	border: none;
 	background:#f8f676;
 	color: #333;
 	font-size: 14px; 
 	transition:all 0.25s ease-out;
 	-ms-transition:all 0.25s ease-out;
 	-webkit-transition:all 0.25s ease-out;
 	-moz-transition:all 0.25s ease-out;
 }

 section.content button[type="submit"]:hover{
 	background: #000;
	color:#fff;
 }

 section.content button[type="submit"] i{
 	margin-left: 5px;
 }

 .multiplenum{
 	max-height: 0;
 	overflow: hidden;
 	margin-bottom: 0;
 	transition:all 0.25s ease-out;
 	-ms-transition:all 0.25s ease-out;
 	-webkit-transition:all 0.25s ease-out;
 	-moz-transition:all 0.25s ease-out;
 }

 .multiplenum.active{
 	max-height: 100px;
 	margin-bottom: 20px;
 }

 .resultsContainer table{
 	text-align: center;
 	margin: 0;
 }

 .resultsContainer table th{
 	text-align: center;
 }

 .resultsContainer table td, .resultsContainer table th{
 	vertical-align: middle !important;
 }
 .menu { margin-top:40px;}
 .menu ul, li{ list-style:none; list-style-type:none; }
 .menu li { float:left; margin-left:10px; padding:10px; background-color:#f8f7b5; color:#000;}
 .menu li a { color:#000; text-decoration:none; }
 .pagelinks { margin-bottom:20px;}
 .pagelinks a{ padding:5px; background-color:#000; color:#fff; } 
 .current { padding:5px; background-color:#EEE11A; color:#333; }